.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-container {
    height: 932px;
    width: 430px;
    border-radius: 50px;

    box-sizing: border-box;
    border: 10px solid black;
    overflow: hidden;
}

.screen {
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.title {
    font-weight: 400;
    position: absolute;
}

.design-title {

}

.convenience {
    opacity: 0;
    font-size: 42px;
    font-weight: 600;
}

#text-holder {
    position: relative;
}

#fading-text {
    position: absolute;
}

/*.as-oldest-phone {*/
/*    height: 1334px;*/
/*    width: 404px;*/
/*    border-radius: 50px;*/
/*    box-sizing: border-box;*/
/*    background-color: black;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*#screen-oldest {*/
/*    height: 667px;*/
/*    width: 375px;*/
/*    background-color: white;*/

/*}*/